.section {
  @apply py-16! xl:py-24!;
}

/* container */
.container {
  @apply mx-auto max-w-full! xl:!max-w-[1740px] px-4;
}
.content-panel .sl-container {
  @apply mx-auto xl:!max-w-[1740px] px-4;
}
.hero-bg {
  @apply absolute top-0 left-0 w-full -z-10;
}
.doc-bg {
  @apply  h-screen bg-no-repeat absolute top-0 left-0 w-full -z-10;
}

.light-text {
  @apply text-lightmode-text/50 dark:text-text/50 block;
}
.section-title {
  font-size: 4.8rem;
  line-height: 4.7rem;
  letter-spacing: -3px;
}

.section-description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.2px;
}
@media (max-width: 1040px) {
  .section-title {
    font-size: 3.8rem;
    line-height: 3.7rem;
    letter-spacing: -2px;
  }
}
@media (max-width: 548px) {
  .section-title {
    font-size: 2.8rem;
    line-height: 2.7rem;
    letter-spacing: -1px;
  }
}
/* hero tabs */
.list-body {
  padding: 0 1rem;
  margin-top: 0 !important;
}
.list-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-body li {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--sl-color-gray-6);
  transition: background-color 0.2s ease;
  position: relative;
  margin-top: 0 !important;
}
.list-body li:last-child {
  border-bottom: none;
}
.list-body li:hover {
  background-color: color-mix(
    in oklab,
    var(--sl-color-gray-6) 20%,
    transparent
  );
  color: var(--sl-color-white);
}
.list-body li::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 0.75rem;
  flex-shrink: 0;
  background-color: #999999;
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 13V10.6569C20 9.83935 20 9.4306 19.8478 9.06306C19.6955 8.69552 19.4065 8.40649 18.8284 7.82843L14.0919 3.09188C13.593 2.593 13.3436 2.34355 13.0345 2.19575C12.9702 2.165 12.9044 2.13772 12.8372 2.11401C12.5141 2 12.1614 2 11.4558 2C8.21082 2 6.58831 2 5.48933 2.88607C5.26731 3.06508 5.06508 3.26731 4.88607 3.48933C4 4.58831 4 6.21082 4 9.45584V13M13 2.5V3C13 5.82843 13 7.24264 13.8787 8.12132C14.7574 9 16.1716 9 19 9H19.5' stroke='black' stroke-width='1.45'/%3E%3Cpath d='M20.5007 17.2196C20.4486 16.0292 19.674 16 18.6231 16C17.0044 16 16.736 16.406 16.736 18V20C16.736 21.594 17.0044 22 18.6231 22C19.674 22 20.4486 21.9708 20.5007 20.7804M7.26568 19C7.26568 20.6569 6.00155 22 4.44215 22C4.0903 22 3.91437 22 3.78333 21.9196C3.46959 21.7272 3.50098 21.3376 3.50098 21V17C3.50098 16.6624 3.46959 16.2728 3.78333 16.0804C3.91437 16 4.0903 16 4.44215 16C6.00155 16 7.26568 17.3431 7.26568 19ZM12.0007 22C11.1134 22 10.6697 22 10.394 21.7071C10.1184 21.4142 10.1184 20.9428 10.1184 20V18C10.1184 17.0572 10.1184 16.5858 10.394 16.2929C10.6697 16 11.1134 16 12.0007 16C12.8881 16 13.3318 16 13.6074 16.2929C13.8831 16.5858 13.8831 17.0572 13.8831 18V20C13.8831 20.9428 13.8831 21.4142 13.6074 21.7071C13.3318 22 12.8881 22 12.0007 22Z' stroke='black' stroke-width='1.45'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 13V10.6569C20 9.83935 20 9.4306 19.8478 9.06306C19.6955 8.69552 19.4065 8.40649 18.8284 7.82843L14.0919 3.09188C13.593 2.593 13.3436 2.34355 13.0345 2.19575C12.9702 2.165 12.9044 2.13772 12.8372 2.11401C12.5141 2 12.1614 2 11.4558 2C8.21082 2 6.58831 2 5.48933 2.88607C5.26731 3.06508 5.06508 3.26731 4.88607 3.48933C4 4.58831 4 6.21082 4 9.45584V13M13 2.5V3C13 5.82843 13 7.24264 13.8787 8.12132C14.7574 9 16.1716 9 19 9H19.5' stroke='black' stroke-width='1.45'/%3E%3Cpath d='M20.5007 17.2196C20.4486 16.0292 19.674 16 18.6231 16C17.0044 16 16.736 16.406 16.736 18V20C16.736 21.594 17.0044 22 18.6231 22C19.674 22 20.4486 21.9708 20.5007 20.7804M7.26568 19C7.26568 20.6569 6.00155 22 4.44215 22C4.0903 22 3.91437 22 3.78333 21.9196C3.46959 21.7272 3.50098 21.3376 3.50098 21V17C3.50098 16.6624 3.46959 16.2728 3.78333 16.0804C3.91437 16 4.0903 16 4.44215 16C6.00155 16 7.26568 17.3431 7.26568 19ZM12.0007 22C11.1134 22 10.6697 22 10.394 21.7071C10.1184 21.4142 10.1184 20.9428 10.1184 20V18C10.1184 17.0572 10.1184 16.5858 10.394 16.2929C10.6697 16 11.1134 16 12.0007 16C12.8881 16 13.3318 16 13.6074 16.2929C13.8831 16.5858 13.8831 17.0572 13.8831 18V20C13.8831 20.9428 13.8831 21.4142 13.6074 21.7071C13.3318 22 12.8881 22 12.0007 22Z' stroke='black' stroke-width='1.45'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}
.list-body li:hover::before {
  background-color: var(--sl-color-white);
}
